cubion:
  grid:
    domain:
      lower: [-2.0, -2.0, -2.0]
      upper: [2.0, 2.0, 2.0]
    blocksize: [{{ 2**depth_limit }}, {{ 2**depth_limit }}, {{ 2**depth_limit }}]

  octree:
    refinement:
      strategy: "default"
      depth_limit: 0
      alpha: 0.3

gridfoam:
  simulator:
    control:
      deltaT: 0.1
      endTime: 0.2
      writeInterval: 1
    fvSchemes:
      ddtSchemes:
        default: Euler
      divSchemes:
        default: Upwind
      laplacianSchemes:
        default: GaussLinear
      gradSchemes:
        default: GaussLinear
    fvSolution:
      solvers:
        poisson: # equation tag
          method: BiCGSTAB

  io:
    output_dir: "tests/outputs/grid/SpatialConvergenceTest/uniform"
    base_name: "poisson_depth_{{ depth_limit }}"
    only_leaves: true
    overwrite_file: true

  mesh:
    file: "tests/data/stl/sphere.stl"

  cube:
    interior_width: 8
    halo_width: 2
    device: "cpu"
